
<div class="container" style="margin-top: 2rem;">
    <div class="col">
      <div>
          
        <h3 style="font-size: 20px;font-weight: 600;">PERFORMANCE DASHBOARD <div routerLink="/" class="arrow float-right">← back</div> </h3>
        <h3>OS: {{data?.os}}</h3>
        <h3>ARCHITEKTUR: {{data?.arch}}</h3>
        <h3>PLATTFORM: {{data?.platform}}</h3>
        <h3>RELEASE: {{data?.release}}</h3>
        <h3>CPU AUSLASTUNG: {{data?.cpu}}</h3>
   
      </div>
    </div>
    <div class="col">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  