.arrow {
    cursor: pointer 
 }
 
 .github {
     color: black;
     font-size: 1.3rem;
 }

 mat-card {
     min-height: 400px;
 }

.col-4 {
    padding-bottom: 15px!important;
    padding-top: 15px!important;
 }

 mat-flat-button {
 min-width: 0px!important;
}